src/**
node_modules/**
tsconfig.json
tsconfig.build.json
tsconfig.test.json
webpack.config.js
.gitignore
**/*.ts
**/*.map
**/*.pdb
.c8rc.json
.vscode-test.mjs
.nyc_output/**
eslint.config.mjs
eslint-rules.cjs
coverage/**
out/**
!dist/**
!bin/**
!shipwright.json
